<p>{{Message}}</p>
<form [formGroup]="UserForm" (ngSubmit)="formsubmit()">
<table>
    <thead>
       <tr><th colspan="2">User Profile</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td><input type="text" name=""  formControlName="FirstName"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="" formControlName="LastName"/></td>
        </tr>
        <tr>
            <td>
                Salary
            </td>
            <td><input type="text" name="" formControlName="Salary"/></td>
        </tr>
        <tr>
            <td><input type="button" value="Clear"/>  </td>
            <td><input type="Submit" value="Submit"/>  </td>
        </tr>
    </tbody>
</table>
</form>

<div>
    <!-- <pre>
        {{data|json}}
    </pre> -->
    <table border="1">
        <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Complete</th>
        </tr>
        <tr *ngFor="let item of data">
            <td>{{item.userId}}</td>
            <td>{{item.id}}</td>
            <td>{{item.title  | titlecase}}</td>
            <td>{{item.completed | translate}}</td>
        </tr>
    </table>
</div>
