<nav class="navbar">
    <div class="navbar-logo">
     
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/">Home</a></li>
    <li><a routerLink="dashboard">Dashboard</a></li> 
      <!-- <li><a routerLink="user">User</a></li> -->
    <li><a routerLink="about">About us</a></li>
    <li><a routerLink="about/extra">About us/extra</a></li>
    <li><a [routerLink]="['contact','5']">contact us</a></li>
    </ul>
    <div class="navbar-actions">
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
  </nav>
