<nav class="navbar">
    <div class="navbar-logo">
     
    </div>
    <ul class="navbar-links">
      <li><a routerLink="information">Information</a></li>
    <li><a routerLink="address">Address</a></li> 
    </ul>
    <ul class="navbar-links">
      <li><a [routerLink]="[{outlets:{'Map':['Map'],'Link':['Link']}}]">Information</a></li>
    <li><a routerLink="address">Address</a></li> 
    </ul>
    <div class="navbar-actions">
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
  </nav>

  <router-outlet></router-outlet>

  <router-outlet name="Map"></router-outlet>
  <router-outlet name="Link"></router-outlet>